html, body {
    margin: 0;
    background-color: #505C68;
    color: #D5C1C0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #374353;
    padding: 20px;
}

.display {
    margin: 0 auto;
    padding: 20px;
    width: 50%;
}

.display > div {
    text-align: right;
}

.main {
    height: 1em;
    box-sizing: border-box;
    font-size: 3em;
}

.expression {
    height: 1.5em;
    color: #8C949F;
}

.buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #D5C1C0;
    font-size: 1.5em;
}

.row {
    flex: 1;
    display: flex;
}
.row > div{
    flex: 1;
    padding: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5B6A7D;
}
.button:hover {
    cursor: pointer;
    background-color: #6c7f97;
}

.operators {
    background-color: #374353;
}
.operators:hover {
    background-color: #435266;
}

.special-operators {
    background-color: #333A42;
}
.special-operators:hover {
    background-color: #3f4750;
}

#clear {
    color: #20c49b;
}

#equal {
    background-color: #1daa87;
}
#equal:hover {
    background-color: #20c49b;
}