html, body {
    margin: 0;
    background-color: #313131;
    color: #D5C1C0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    height: 100%;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    width: 600px;
    height: 100%;
    background-color: #010101;
}

.display, .expression {
    color: #8f807f;
    text-align: right;
    width: 600px;
    height: 40px;
    padding: 10px 50px;
    box-sizing: border-box;
}

.display {
    color: #D5C1C0;
    height: 80px;
    font-size: 70px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
    width: 600px;
}

.row > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 30px;
    width: 30px;
    margin: 10px;
    padding: 50px;
    border-radius: 100px;
    background-color: #1B1B1B;
}

.row > div:hover {
    background-color: #313131;
    cursor: pointer;
}

#equal {
    background-color: #0f581f
}

#equal:hover {
    background-color: #16802d;
}

#clear {
    background-color: #8a1b1b;
}

#clear:hover {
    background-color: #c52727;
}